@keyframes movement-smooth {
	from {
		transform: translateX(0%);
		left: 100%;
	}
	to {
		transform: translateX(-100%);
		left: 0%;
	}
}

&.marquee-movement-smooth {
	&:before {
		animation-name: movement-smooth;
	}
}

&.marquee-movement-steps20 {
	&:before {
		animation-timing-function: steps(20);
	}
}

&.marquee-movement-steps10 {
	&:before {
		animation-timing-function: steps(10);
	}
}

&.marquee-movement-steps5 {
	&:before {
		animation-timing-function: steps(5);
	}
}
