&.marquee-direction-left,
&.marquee-direction-normal {
	&:before {
		animation-direction: normal;
	}
}

&.marquee-direction-alternate {
	&:before {
		animation-direction: alternate;
	}
}

&.marquee-direction-right,
&.marquee-direction-reverse {
	&:before {
		animation-direction: reverse;
	}
}
